<% provide(:title, "Twoje konto") %>

<h1>Twoje ogłoszenia </h1>

<% if @ads %>
  <table class="table table-hover">
  <% @ads.each do |z| %>
  <tr><td>
  <%= link_to z.title, ad_path(z) %></td><td>
  <%= link_to "edytuj", edit_ad_path(z) %></td><td>
<%= link_to 'Destroy', z,  method: :delete, data: { confirm: 'Are you sure?' } %>  <%#= link_to "usuń", {:controller => "ads", :action => "destroy", :id => z.id }%>
  </tr>
  <% end %>
  </table>
<% end %>

<h1>Twój profil</h1>
<ul>
<li>Problem z kontem? <a href="mailto:spychala@gmail.com">Napisz do nas</a>.</li>
<li>Czas na nowe hasło? <a href="">Zmień hasło</a>. </li>
</ul>
