@import "bootstrap";

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Signika', Arial, serif; 
  font-weight: 300;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.gray-td{
    color: #737272;
}


.new_add{
    float:left;
    width:170px;
    margin-right:10px;
}

.new_add_check_row{
    
    width:700px;
}

.one_row{
    width:730px;
}

.one_check{
    width:100px;
    float:left;
}

.login_forms{
  width:200px;
  height:14px;  
}

.mainpage_bg{
  width: 730px;
  height: 187px;
  background-image: URL('../data/images/bmw_bg.jpg');
}

.gray{
  color: #807C7C;
}

.image_edit{
  width:200px;
}

.link_top{
  padding:7px 7px;
}

.image_border{
  border: 1px solid rgb(179, 179, 179);
}

.label_color{
  color:#1C71C7;
}

.legends{
    font-size: 14px;
    font-weight: 400;
}

.logo{
  color:#000;
  text-decoration: none;
}
ad_right{
    font-size: 14px;
    font-weight: 400;
}

select{
    width:165px;
    height:25px;
    line-height:25px;
}

input[type="text"]{
    width:150px;
    height:15px;
}

input[type="checkbox"]{
  margin-bottom:5px;
}

label{
    display: inline;
}

legend{
  font-size:16px;
  line-height:25px;
  margin-bottom:10px;
}

.marketing {
  margin: 5px 0;
}

.header h3{
  margin-bottom: 0px;
  padding-bottom:10px;
}

.dropdown{
  float:left;
  margin-right:8px;
}

.nav {
    margin-bottom: 0px;  
}

.nav > li > a {
    display: block;
    padding: 7px;
    position: relative;
}

.breadcrumb{
  margin: 0 0 10px;
  padding: 2px 5px;
}

.header{
  margin-bottom: 10px;
}

input[type="password"]{
  height:15px;
  padding: 4px 6px;
}


