<% provide(:title, "o stronie - ogłoszenia motoryzacyjne") %>

<div style="width:400px;float:left;margin-right:20px;">
<img style='width:400px;margin-top:20px;' class='image_border' src='assets/about_audi.jpg' />
<img style='width:400px;margin-top:10px;' class='image_border' src='assets/about_bmw.jpg' />

</div>
<div style="width:300px;float:right;"><h1>O scarto.pl</h1><br />
<p>scarto.pl to ogłoszenia motoryzacyjne tylko niemieckich marek i marek powiązanych (jak Skoda czy Seat). Częste jest narzekanie, że w Polsce średnia wieku aut jest wysoka. Jednak nawet kilkunastoletnie auta od niemieckich producentów cechują komfort i bezpieczeństwo. Poza tym sam wybór jest bardzo duży dla każdego budżetu. Auto do 7 tysięcy? Najpewniej będzie to Golf czy Polo. Limuzyna za około 20 tysięcy? W sprzedaży są liczne modele Audi, Mercedes czy BMW, które powinny zaspokoić oczekiwania.</p>

<p>Dodawanie ogłoszeń na scarto.pl jest bardzo proste. W jednym kroku można dodać szybko ogłoszenie. Budujemy markę scarto jako strony, gdzie najlepiej szukać ogłoszeń motoryzactjnych aut niemieckich i gdzie najłatwiej takie auta sprzedać. </p>

<p>Masz pytania czy uwagi? <a href="mailto:info@scarto.pl">Napisz do nas</a> i postaramy się pomóc.</p>
</div>
